@using Youtube.Models
@model Youtube.ViewModels.HomeIndexVm

@{
    ViewBag.Title = "Home Page";
}

<div class="row">

    @foreach (var video in Model.Videos)
    {
        <div class="col-sm-3">
            <iframe height="200" src="@video.EmbedUrl"
                    frameborder="0" allowfullscreen></iframe>
        </div>
    }
</div>
