body {
    padding-top: 70px;
    padding-bottom: 20px;
    font-family:"Indie Flower", Tahoma, sans-serif;
    font-weight:700;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
